<section class="competitions">
  <ul>
    <%@competitions.each do |competition|%>
      <div id="competition-<%=competition.id%>">
        <li><%=competition.name%></li>
        <%= link_to "View this Competition", competition_path(competition.id)%><br>
      </div>
    <%end%>
  </ul>
</section>
